body {
  overflow-x: hidden;
  max-width: 100vw;
  height: auto;
  width: auto;

}

.landingpage-container {
  display: flex;
  flex-direction: column;
  /* Ensure vertical stacking */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* overflow-y: auto; */
  background: linear-gradient(135deg, #00d2ff, #3a47d5, #c9ffbf, #ffafbd);
  background-size: 100% 100%;
  /* animation: neonGradient 8s ease infinite; */
}

@keyframes neonGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.landingpage-landingpage {
  width: 90vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

}




.navbar {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 20px;
  padding: 10px 0;
  border-radius: 10px;
  z-index: 2;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: rgb(255, 236, 128);
  margin-left: 10px;
  width: 17vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  mix-blend-mode: difference;
  text-shadow: 2px 2px 4px rgba(109, 98, 0, 0.7);
}

.sun {
  width: 80px;
  height: 80px;
}

.nav-items {
  display: flex;
  gap: 80px;
  justify-content: center;
  flex-grow: 1;
}

.post-infor {
  block-size: 90vh;
  inline-size: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.post-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/post.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.75;


}
.post-button{
  z-index: 2;
  margin-top: 30vh;
  margin-left: 12.5vw;
  align-self: flex-start;
  padding: 5px 20px;
}

.post-button-detail{

}

.post-button-detail{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  border-radius: 15px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.post-button-detail:hover {
  background-color: #45a049; 
}
.auth-buttons {
  display: flex;
  margin-right: 10px;
  gap: 10px;
  justify-content: center;
}

.nav-link {
  font-size: 21px;
  font-family: Poppins, sans-serif;
  /* background: linear-gradient(135deg, #c9ffbf, #ffafbd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #fff;
  mix-blend-mode: difference;
  text-shadow: 2px 2px 4px rgba(109, 98, 0, 0.7);
  text-decoration: none;
  font-weight: bold;
  /* opacity: 0.3; */
}

.nav-link:hover {
  /* text-decoration: underline; */
  opacity: 1;
  transform: scale(1.3);
  transition: transform 0.2s ease-out;
}

.nav-link.active {
  font-weight: 600;
  color: rgba(34, 58, 96, 1);
  opacity: 0.7;
}

.nav-link.active:hover {
  text-decoration: underline;
  opacity: 1;
}

.signup-link,
.signin-link {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: #fff;
  background-color: rgba(34, 58, 96, 1);
  padding: 5px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.signup-link:hover,
.signin-link:hover {
  background-color: #2d4c78;
}

/* .background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  transform: translateY(0);
  transition: transform 0.08s ease-out;
}

.background-video video {
  width: 100vw;
  height: auto;
  object-fit: cover;
} */

.heading {
  width: 80vw;
  display: flex;
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  align-items: flex-start;
}

p {
  color: #fff;
}

/* service*/

.discount-search-container {
  display: flex;
  gap: 10px;
}

.discount-code {
  text-align: center;
  /* Center-align the discount link */
}

.discount-code a {
  color: #4caf50;
  text-decoration: none;
}

.discount-code a:hover {
  text-decoration: underline;
}



/* service*/