body {
    overflow-x: hidden;
    max-width: 100vw;
}

.landingpage-container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    background: linear-gradient(to top right, #d3b8f0, #7ca1e2);
}

.landingpage-landingpage {

    width: 90%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-image: url('../img/back.mp4'); */
    background-clip: url('../img/back.mp4');
}

.navbar {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 20px;
    padding: 10px 0;
    /* background: linear-gradient(to top right, #dfd8e7, #bacbe9); */
    border-radius: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgba(34, 58, 96, 1);
    margin-left: 10px;
}

.nav-items {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-grow: 1;
}

.auth-buttons {
    display: flex;
    margin-right: 10px;
    gap: 10px;
    justify-content: center;
}

.nav-link {
    font-size: 19px;
    font-family: Poppins, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    opacity: 0.8;
}

.nav-link:hover {
    text-decoration: underline;
    opacity: 1;
    scale: 1.3;
}

.nav-link.active {
    font-weight: 600;
    color: rgba(34, 58, 96, 1);
    opacity: 0.7;
}

.nav-link.active:hover {
    text-decoration: underline;
    opacity: 1;
    /* scale: 1.3; */
}

.signup-link,
.signin-link {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #fff;
    background-color: rgba(34, 58, 96, 1);
    padding: 5px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.signup-link:hover,
.signin-link:hover {
    background-color: #2d4c78;
}


/* Đặt nền video ở vị trí cố định và phía dưới */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.background-video video {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.landingpage-container {
    position: relative;
    z-index: 1;
}
